@import "../../assets/helpers/typography.scss";

.container {
  margin-right: 38px;
}

.title {
  @include title();
  margin-top: 0;
}

.price {
  @include title-s();
}

.brand {
  @include title-s();
}

@media (max-width: 550px) {
  .container {
    margin: 0;
    padding: 47px 20px 34px 20px;
  }
}
