@import "../../assets/helpers/typography.scss";
@import "../../assets/helpers/variables.scss";

.container {
  border: 1px solid $cream;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  @include text-s();
  margin-top: 0px;
  margin-bottom: 31px;
}

.price {
  @include title-s();
  margin-bottom: 18px;
}

.image {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 16px 16px;
}

@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid $cream;
    padding: 20px;
    height: 124px;
    box-sizing: content-box;
  }

  .image {
    border-radius: 4px;
    width: 124px;
    height: 124px;
    margin-right: 17px;
  }

  .infoBlock {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .price {
    margin: 0;
  }

  .title {
    margin: 0;
  }
}
