@import '../../assets/helpers/variables.scss';
@import '../../assets/helpers/typography.scss';


.container {
  outline: 1px solid $lightgrey;
  border-radius: 4px;
  height: 42px;
  width: 224px;

  &:hover {
    outline: 1px solid $lightblack;
  }
}

.input {
  border: none;
  height: 100%;
  padding-left: 11px;
  width: 50%;
  @include text-s();
  font-family: 'Montserrat', sans-serif;
  
  &:focus {
    outline: none;
  }

  &:first-child {
    border-right: 1px solid $lightgrey;
  }
}
